.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.map {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    margin: 0;
    font-family: 'Material Icons';
    font-size: 50px;
}