<mat-sidenav-container class="example-container" (backdropClick)="close()">
    <mat-sidenav #sidenav mode="over" (keydown.escape)="close()" disableClose>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    TITLE
                </mat-panel-title>
            </mat-expansion-panel-header>

            <p>CONTENT</p>

        </mat-expansion-panel>
    </mat-sidenav>

    <mat-sidenav-content (keydown.escape)="sidenav.open()">
        <button mat-icon-button (click)="sidenav.open()">menu</button>
        <div class="map">
            <app-map></app-map>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>