<mat-sidenav-container class="example-container" (backdropClick)="close()">
    <mat-sidenav #sidenav mode="push" (keydown.escape)="close()" disableClose>
        <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    COVID
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="grid-4-4">
                <button (click)="changeStatus('positive')" mat-flat-button id="positive"
                    class="positive">positive</button>
                <button (click)="changeStatus('negative')" mat-flat-button id="negative"
                    class="negative">negative</button>
                <button (click)="changeStatus('recovered')" mat-flat-button id="recovered"
                    class="recovered">recovered</button>
                <button (click)="changeStatus('death')" mat-flat-button id="death" class="death">death</button>
            </div>

        </mat-expansion-panel>
    </mat-sidenav>

    <mat-sidenav-content (keydown.escape)="sidenav.open()">
        <button mat-icon-button (click)="sidenav.open()" class="menu-button">menu</button>
        <div class="map">
            <app-map></app-map>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>