.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.map {
    width: 75vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(25vw);
    overflow-x: hidden;
}

.menu-button {
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    margin: 0;
    font-family: 'Material Icons';
    font-size: 50px;
}

.expansion-panel {
    position: relative;
    width: 20vw;
    font-size: 14pt;
    padding: 0;
}

.positive {
    background-color: var(--bright-yarrow);
}

.negative {
    background-color: var(--electron-blue);
}

.recovered {
    background-color: var(--mint-leaf);
}

.death {
    background-color: var(--chi-gong);
}

.grid-4-4 {
    display: grid;
    margin-top: 16px;
    grid-template-columns: 80px 80px;
    grid-template-rows: 50px 50px;
    column-gap: 10px;
    row-gap: 10px;
}

.grid-4-4 button {
    padding: 0;
}